@import url('https://fonts.googleapis.com/css2?family=Federo&family=Inter&family=Open+Sans:wght@300;400;600&family=Potta+One&display=swap');

%transition {
  transition: all 0.8s ease;
}
%section-media {
  @media (max-width: 991px) {
    padding-bottom: 50px;
  }

  @media (max-width: 767px) {
    padding-bottom: 40px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: calc(1440px - 150px - 150px);
  margin: 0 auto;
  padding: 0 15px;

}

.container2 {
  max-width: calc(1440px - 150px - 150px);
  margin: 0 auto;

}

.page {
  width: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;

}

.header {
  padding: 25px 0 60px;

  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_logo {
      font-family: 'Potta One';
      font-size: 38px;
      line-height: 55px;
      letter-spacing: -0.035em;
      color:#565759;

    }
    .header_nav {
      @media  (max-width: 767px) {
      display: none;

      }
      .header_list {
        display: flex;
        column-gap: 35px;
        list-style: none;

        a {
          line-height: 22px;
          letter-spacing: -0.035em;
          color:#697391;
          @extend %transition;

          &:hover  {
            @extend %transition;
            color: darkmagenta;
          }
        }
      }
    }
    .header_icons {
      display: flex;
      column-gap: 37px;

      svg {
        fill:#6C7580;
        @extend %transition;

        &:hover {
          @extend %transition;
          fill: darkmagenta;
        }
      }
    }
  }
}
.home {
  padding-bottom: 84px;

  @extend %section-media;

  .home_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    .home_img {
      background-image: url("img/main/home/home_img.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 450px;
      width: calc(625/1110*100%);

      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 30px;

      }
    }

    .home_info {
      max-width: calc(385/1110*100%);

      @media (max-width: 991px) {
        max-width: 100%;
      }

       h1 {
         font-family: 'Federo';
         font-size: 48px;
         line-height: 60px;
         letter-spacing: 0.02em;
         color: #3A3A3A;
         margin-bottom: 25px;

       }

       a {
         display: inline-block;
         padding: 8px 16px 8px 17px;
         background: #434343;
         border: 1px solid #434343;
         line-height: 22px;
         letter-spacing: -0.035em;
         color:#FFFFFF;
         @extend %transition;

         &:hover {
           @extend %transition;
           color:#434343;
           background: #FFFFFF;
         }
      }
    }
  }
}
.seller {
  padding-bottom: 145px;
  @extend %section-media;

  .seller_container {

    .seller_name {
      font-family: 'Federo';
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.02em;
      color: #3A3A3A;
      margin-bottom: 41px;
      text-align: center;
    }
    .seller_items {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;

      .item {
        height: 342px;
        flex: 1 1 calc(25% - 30px);
        background: #FFFFFF;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
        padding: 76px 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        div {
          margin: 0  auto;
        }

        .seller_text {

          h3 {
            line-height: 22px;
            text-align: center;
            letter-spacing: -0.035em;
            color: #2A2A2B;
            margin-bottom: 8px;
          }

          p {
            font-family: 'Federo';
            font-size: 14px;
            line-height: 50px;
            letter-spacing: 0.02em;
            color: #8C8C8C;
            text-align: center;
          }
        }

        .info {
          position: absolute;
          width: 75px;
          height: 61px;
          top: 12px;
          right: 0;

          div {
            background: #F29731;
            height: 28px;
            margin-bottom: 5px;
            line-height: 22px;
            letter-spacing: -0.035em;
            color: #FFFFFF;
            text-align: center;
            padding-top: 4px;

            &:nth-child(2) {
              background: #9E0B0F;
            }
          }
        }
        .seller_icons {
          display: flex;
          flex-direction: column;
          gap: 5px;
          position:absolute;
          right: 5px;
          bottom: 80px;

          .icon {
            height: 27px;
            width: 27px;
            background: #FFFFFF;
            border: 0.2px solid #454545;
            display: flex;
            justify-content: center;
            align-items: center;
            @extend %transition;

            .icon1 {
              display: flex;
              flex-direction: column;

              svg {
                fill: black;
              }
            }

            svg {
              fill: black;
            }

            &:hover {
              @extend %transition;
              background-color: #d7676b;

              svg  {
                fill: white;
              }
            }
          }
        }
      }
      .item1 {
        padding: 71px 0 25px;
      }
      .item2 {
        padding: 64px 0 25px;

      }
      .item3 {
        padding: 58px 0 25px;

      }
      .item4 {
        padding: 89px 0 25px;

      }
      .item5 {
        padding: 60px 0 25px;

      }
      .item6 {
        padding: 73px 0 25px;

      }
      .item7 {
        padding: 73px 0 25px;

      }
    }
  }
}
.deal {
  padding-bottom: 138px;

  .deal_container {
    background: #F7F7F7;
    border-radius: 377px 0px 0px 377px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 300px;
      height: 594px;
      top: 0;
      right: -300px;
      background: #F7F7F7;

    }

    .deal_img {
      width: 523px;
      height: 523px;
      margin: 35px 35px 36px 47px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      @media (max-width: 1199px) {
        padding: 30px;
      }

      .img {

        img {
          max-width: 100%;
        }
      }

    }
    .deal_text_wrapper {

      a {
        display: inline-block;
        text-decoration: none;
        line-height: 22px;
        letter-spacing: -0.035em;
        color: #FFFFFF;

      }
      .deal_week {
        padding: 8px 34px;
        background: #8096BC;
        margin-bottom: 41px;

      }
      h3 {
        font-size: 45px;
        line-height: 50px;
        letter-spacing: 0.02em;
        color: #3A3A3A;
        margin-bottom: 28px;

        span {
          color: rgba(120, 162, 202, 1);

        }
      }

      p {
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        max-width: 401px;
        margin-bottom: 36px;
      }

      .deal_shop {
        padding: 8px 16px 8px 17px;
        background: #434343;
        margin-bottom: 26px;

      }

      .deal_products {
        display: flex;
        justify-content: space-between;

        .item {
          width: 87px;
          height: 87px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #FFFFFF;
          border: 0.1px solid #000000;

        }

      }

    }

  }
}

.trending {
  margin-bottom: 142px;

  .trending_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .trending_name {
      font-family: 'Federo';
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.02em;
      color: #3A3A3A;
      text-align: center;
      margin-bottom: 78px;
    }
    .trending_items {
      display: flex;
      background: #FFFFFF;
      border: 0.5px solid #E2E0DB;
      margin-bottom: 48px;
      min-height: 148px;

      @media (max-width: 768px) {
        flex-wrap: wrap;
        row-gap: 40px;

      }

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 15%;
        transition: all 0.8s ease-in-out;

        &:hover {
          transition: all 0.8s ease-in-out;
          background: #FBF9F3;

          .name_item {
            color: #505050;
          }

          svg {
            fill: #4F4E4E;
          }


        }

        @media (max-width: 768px) {
          flex: 1 1 30%;
          padding: 30px;

        }

        @media (max-width: 420px) {
          padding: 20px 10px;

        }

        @media (max-width: 360px) {
          flex: 1 1 45%;
          padding: 20px 10px;

        }

        .name_item {
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: -0.035em;
          color: #757575;
        }

        svg {
          fill:#757575;
        }

        .item_item1 {
          margin-bottom: 12.6px;

        }

        .item_item2 {
          margin-bottom: 13.4px;
        }

        .item_item3 {
          margin-bottom: 17.6px;
        }

        .item_item4 {
          margin-bottom: 16.4px;
        }

        .item_item5 {
          margin-bottom: 14px;
        }

        .item_item6 {
          margin-bottom: 24px;
        }
      }

    }

// чогось не можу скопіювати ітем1 та ітем5 як цілу картинку, а кусочками,
    // що робити як відобразити повністю (треба качати як SVG і через fill??)
    //

    .trending_products {

      .products_items {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        .product {
          height: 342px;
          flex: calc(25% - 30px);
          background: #FFFFFF;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
          padding: 60px 0 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;

          div {
            margin: 0  auto;
          }

          .product_text {

            h3 {
              line-height: 22px;
              text-align: center;
              letter-spacing: -0.035em;
              color: #2A2A2B;
              margin-bottom: 8px;
            }

            p {
              font-family: 'Federo';
              font-size: 14px;
              line-height: 50px;
              letter-spacing: 0.02em;
              color: #8C8C8C;
              text-align: center;
            }
          }

          .product_icons {
            display: flex;
            flex-direction: column;
            gap: 5px;
            position:absolute;
            right: 5px;
            bottom: 119px;

            .icon {
              height: 27px;
              width: 27px;
              background: #FFFFFF;
              border: 0.2px solid #454545;
              display: flex;
              justify-content: center;
              align-items: center;
              @extend %transition;

              .icon1 {
                display: flex;
                flex-direction: column;

                svg {
                  fill: black;
                }
              }

              svg {
                fill: black;
              }

              &:hover {
                @extend %transition;
                background-color: #d7676b;

                svg  {
                  fill: white;
                }
              }
            }
          }
        }
        .product1 {
          padding: 57px 48px 0 48px;
        }
        .product2 {
          padding: 70px 61px 119px;

        }
        .product3 {
          padding: 71px 50px 119px;

        }
        .product4 {
          padding: 70px 0 25px;

        }
      }

    }
  }
}

.footer {
  background-image: url("img/footer/footer_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 0 10px;



  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.72);
    z-index: 8;
  }

  .footer_container {
    display: flex;
    padding: 0;
    flex-direction: column;
    position: relative;
    z-index: 20;


    .footer_logo {
      width: 100%;
      font-family: 'Potta One';
      font-size: 45px;
      line-height: 65px;
      letter-spacing: -0.035em;
      color: #424346;
      text-align: center;
      padding: 61px 0 44px;

    }

    .footer_nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 124px;

      .footer_tittle {
        font-size: 24px;
        line-height: 224.68%;
        letter-spacing: -0.035em;
        color: #000000;
        list-style: none;

        a {
          font-size: 20px;
          line-height: 224.68%;
          letter-spacing: -0.035em;
          color: #8A8A8A;
        }
      }

      .list_follow {

        .tittle_follow {
          font-size: 24px;
          line-height: 224.68%;
          letter-spacing: -0.035em;
          color: #000000;
        }
        .content_follow {
          list-style: none;
          font-size: 20px;
          line-height: 224.68%;
          letter-spacing: -0.035em;
          color: #8A8A8A;
          display: flex;
          gap: 4px;
        }
      }
    }
  }
  .footer_copyright {
    background: #FFFFFF;
    width: 100%;
    text-align: center;
    height: 52px;
    position: relative;
    z-index: 20;

    .copyright {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #7A7A7A;
      margin-top: 17px;
    }
  }
}

// 07:06 + 17:45-19:15 ul i li 21:54-22:38 і до кінця переробити about us і т.д.

// з 06:55
