@import url("https://fonts.googleapis.com/css2?family=Federo&family=Inter&family=Open+Sans:wght@300;400;600&family=Potta+One&display=swap");
.seller .seller_container .seller_items .item .seller_icons .icon:hover, .seller .seller_container .seller_items .item .seller_icons .icon, .home .home_container .home_info a:hover, .home .home_container .home_info a, .header .header_container .header_icons svg:hover, .header .header_container .header_icons svg, .header .header_container .header_nav .header_list a:hover, .header .header_container .header_nav .header_list a {
  transition: all 0.8s ease;
}

@media (max-width: 991px) {
  .seller, .home {
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .seller, .home {
    padding-bottom: 40px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header {
  padding: 25px 0 60px;
}
.header .header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_container .header_logo {
  font-family: "Potta One";
  font-size: 38px;
  line-height: 55px;
  letter-spacing: -0.035em;
  color: #565759;
}
@media (max-width: 767px) {
  .header .header_container .header_nav {
    display: none;
  }
}
.header .header_container .header_nav .header_list {
  display: flex;
  column-gap: 35px;
  list-style: none;
}
.header .header_container .header_nav .header_list a {
  line-height: 22px;
  letter-spacing: -0.035em;
  color: #697391;
}
.header .header_container .header_nav .header_list a:hover {
  color: darkmagenta;
}
.header .header_container .header_icons {
  display: flex;
  column-gap: 37px;
}
.header .header_container .header_icons svg {
  fill: #6C7580;
}
.header .header_container .header_icons svg:hover {
  fill: darkmagenta;
}

.home {
  padding-bottom: 84px;
}
.home .home_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .home .home_container {
    flex-wrap: wrap;
  }
}
.home .home_container .home_img {
  background-image: url("img/main/home/home_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 56.3063063063%;
}
@media (max-width: 991px) {
  .home .home_container .home_img {
    width: 100%;
    margin-bottom: 30px;
  }
}
.home .home_container .home_info {
  max-width: 34.6846846847%;
}
@media (max-width: 991px) {
  .home .home_container .home_info {
    max-width: 100%;
  }
}
.home .home_container .home_info h1 {
  font-family: "Federo";
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #3A3A3A;
  margin-bottom: 25px;
}
.home .home_container .home_info a {
  display: inline-block;
  padding: 8px 16px 8px 17px;
  background: #434343;
  border: 1px solid #434343;
  line-height: 22px;
  letter-spacing: -0.035em;
  color: #FFFFFF;
}
.home .home_container .home_info a:hover {
  color: #434343;
  background: #FFFFFF;
}

.seller {
  padding-bottom: 145px;
}
.seller .seller_container .seller_name {
  font-family: "Federo";
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #3A3A3A;
  margin-bottom: 41px;
  text-align: center;
}
.seller .seller_container .seller_items {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.seller .seller_container .seller_items .item {
  height: 342px;
  flex: 1 1 calc(25% - 30px);
  background: #FFFFFF;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 76px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.seller .seller_container .seller_items .item div {
  margin: 0 auto;
}
.seller .seller_container .seller_items .item .seller_text h3 {
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #2A2A2B;
  margin-bottom: 8px;
}
.seller .seller_container .seller_items .item .seller_text p {
  font-family: "Federo";
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: #8C8C8C;
  text-align: center;
}
.seller .seller_container .seller_items .item .info {
  position: absolute;
  width: 75px;
  height: 61px;
  top: 12px;
  right: 0;
}
.seller .seller_container .seller_items .item .info div {
  background: #F29731;
  height: 28px;
  margin-bottom: 5px;
  line-height: 22px;
  letter-spacing: -0.035em;
  color: #FFFFFF;
  text-align: center;
  padding-top: 4px;
}
.seller .seller_container .seller_items .item .info div:nth-child(2) {
  background: #9E0B0F;
}
.seller .seller_container .seller_items .item .seller_icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 5px;
  bottom: 80px;
}
.seller .seller_container .seller_items .item .seller_icons .icon {
  height: 27px;
  width: 27px;
  background: #FFFFFF;
  border: 0.2px solid #454545;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller .seller_container .seller_items .item .seller_icons .icon .icon1 {
  display: flex;
  flex-direction: column;
}
.seller .seller_container .seller_items .item .seller_icons .icon .icon1 svg {
  fill: black;
}
.seller .seller_container .seller_items .item .seller_icons .icon svg {
  fill: black;
}
.seller .seller_container .seller_items .item .seller_icons .icon:hover {
  background-color: #d7676b;
}
.seller .seller_container .seller_items .item .seller_icons .icon:hover svg {
  fill: white;
}
.seller .seller_container .seller_items .item1 {
  padding: 71px 0 25px;
}
.seller .seller_container .seller_items .item2 {
  padding: 64px 0 25px;
}
.seller .seller_container .seller_items .item3 {
  padding: 58px 0 25px;
}
.seller .seller_container .seller_items .item4 {
  padding: 89px 0 25px;
}
.seller .seller_container .seller_items .item5 {
  padding: 60px 0 25px;
}
.seller .seller_container .seller_items .item6 {
  padding: 73px 0 25px;
}
.seller .seller_container .seller_items .item7 {
  padding: 73px 0 25px;
}

.footer_container {
  width: 1440px;
  height: 559px;
  display: flex;
  padding: 0;
  flex-direction: column;
  background-image: url("img/footer/footer_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.footer_container .footer_logo {
  width: 100%;
  height: 170px;
  position: relative;
  background: rgba(255, 255, 255, 0.72);
  display: flex;
  justify-content: center;
}
.footer_container .footer_logo .div {
  width: 108px;
  height: 65px;
  position: absolute;
  top: 40px;
  font-family: "Potta One";
  font-size: 45px;
  line-height: 65px;
  letter-spacing: -0.035em;
  color: #424346;
}
.footer_container .footer_nav {
  width: 100%;
  height: 559px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.72);
}
.footer_container .footer_nav .list_about {
  padding-left: 160px;
}
.footer_container .footer_nav .list_about .tittle_about {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 224.68%;
  letter-spacing: -0.035em;
  color: #000000;
}
.footer_container .footer_nav .list_about .content_about {
  list-style: none;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 224.68%;
  letter-spacing: -0.035em;
  color: #8A8A8A;
}
.footer_container .footer_nav .list_company .tittle_company {
  font-size: 24px;
  line-height: 224.68%;
  letter-spacing: -0.035em;
  color: #000000;
}
.footer_container .footer_nav .list_company .content_company {
  list-style: none;
  font-size: 20px;
  line-height: 224.68%;
  letter-spacing: -0.035em;
  color: #8A8A8A;
}
.footer_container .footer_nav .list_useful .tittle_useful {
  font-size: 24px;
  line-height: 224.68%;
  letter-spacing: -0.035em;
  color: #000000;
}
.footer_container .footer_nav .list_useful .content_useful {
  list-style: none;
  font-size: 20px;
  line-height: 224.68%;
  letter-spacing: -0.035em;
  color: #8A8A8A;
}
.footer_container .footer_nav .list_follow {
  padding-right: 140px;
}
.footer_container .footer_nav .list_follow .tittle_follow {
  font-size: 24px;
  line-height: 224.68%;
  letter-spacing: -0.035em;
  color: #000000;
}
.footer_container .footer_nav .list_follow .content_follow {
  list-style: none;
  font-size: 20px;
  line-height: 224.68%;
  letter-spacing: -0.035em;
  color: #8A8A8A;
  display: flex;
  gap: 4px;
}
.footer_container .footer_copyright {
  background: #FFFFFF;
  width: 100%;
  text-align: center;
  height: 52px;
}
.footer_container .footer_copyright .copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
  margin-top: 17px;
}

/*# sourceMappingURL=style.css.map */
